#contact-head{
    font-size: 3.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #8C7851;
    font-weight: 900;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
}

.btn-wrap{
    text-align: center;
    margin: 40px;
}

label {
    display: inline-block;
    margin-bottom: .7rem;
    margin-top: .3rem;
    font-size: 20px;
    /* text-align: center; */
}
