

@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Roboto&display=swap");

body{
    font-family: 'roboto', sans-serif;
    color: #8C7851;
    background-color: #DBC589; 
    text-align: center;
    }

.logo{
    width: 320px;
    padding-left: 3.5%;
}

.blue-background{
    background-color: #2C4653;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nothing You Could Do', cursive;
    ;
   
}

h1 {
    font-size: 2.4rem;
    padding-left: 10%;
    color: #B4CED9;
    font-weight: 900;
}

.navbar{ 
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    padding-left: 15%;    
}

.navlink { 
    color: #B4CED9;
    font-size: 35px; 
     padding: 20px 60px 25px 0px;
    text-align: center;
}


.list-nav {
    padding-top: 25%;
    padding-left: 50px;
}

.no-margin {
    margin: 0;
}

/*Footer*/
footer {
    background-color: #2C4653;
    min-height: 130px;
}

.coffeeright {
    text-align: center;
    color: #B4CED9;
    padding-bottom: 25px
}

#contact-us {
    text-align: center;
    padding-left: 0;
}

.contact-icon {
    padding: 20px 60px 25px 0px;
    font-size: 2.5rem;
    text-align: center;
    width: 40px;
}

.contact-icon a {
    color: #B4CED9;
    width: 40px;
}

.contact-icon a:hover {
    color: #DBC589;
    text-decoration: none;
}

div#map {
    min-height: 500px;
}